<div class="relative">
    <button id="burger-menu" class="burger-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <nav
        id="mobile-menu"
        class="absolute right-0 mt-2 w-64 bg-white rounded-md shadow-lg py-2 hidden"
    >
        <a
            href="/"
            class="block px-4 py-5 text-xl text-gray-700 hover:bg-gray-100"
            >Главная</a
        >
        <a
            href="/#about"
            class="block px-4 py-5 text-xl text-gray-700 hover:bg-gray-100"
            >О нас</a
        >
        <a
            href="/#services"
            class="block px-4 py-5 ttext-xl text-gray-700 hover:bg-gray-100"
            >Услуги</a
        >
        <a
            href="/#accordion"
            class="block px-4 py-5 ttext-xl text-gray-700 hover:bg-gray-100"
            >Прайс</a
        >

        <a
            href="/gallery"
            class="block px-4 py-5 text-xl text-gray-700 hover:bg-gray-100"
            >Примеры работ</a
        >
        <a
            href="/#contacts"
            class="block px-4 py-5 text-xl text-gray-700 hover:bg-gray-100"
            >Контакты</a
        >
        <a
            href="/contacts"
            class="block px-4 py-5 text-xl text-gray-700 hover:bg-gray-100"
            >На карте</a
        >
    </nav>
</div>
